# --------- .gitignore --------- #
# --- Caden Finkelstein's ------ #
# --- Real Project Template ---- #
# ------------- v1 ------------- #

#: Ignore
##: Directories
###: Hidden
/[.]*/
.git/
.venv/
###;
###: NodeJS
node_modules/
###;
###: Builds
build/
dist/
###;
###: Backups
.xpi-backups/
###;
##;
##: Wildcard Files
###: Generated
*.xpi
###;
##;
##: Specific Files
##;
#;

#: Allow
##: Directories
###: Wildcard Directories
###;
###: Specific Directories
!.github/
!.zed/
###;
##;
##: Files
###: Wildcard Files
####: Source Code
!/src/*.js
####;
###;
###: Specific Files
####: Git Repository
!README.md
####;
####: NodeJS
!package.json
####;
####: PNPM
!pnpm-lock.yaml
!pnpm-workspace.yaml
####;
###;
##;
#;
